/* classes genéricas */

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    color: #747474;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body{
    margin: 0;
    padding: 0;
}

.input {
    height: 35px;
    margin: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.5px solid #CCC;
    border-radius: 3px;
    outline: none;
}

/* login */
.body-login {
    background-color: #385FD6;
    display: flex;
    align-items: center;
}

#container-login {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px 10px 10px 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 5px 5px 36px -10px #000000; 
    box-shadow: 5px 5px 36px -10px #000000;
}

.cadastro-txt {
    align-self: end;
    padding-right: 45px;
}

#logo {
    font-size: 50px;
    color: #769191;
}

#form-login-cadastro{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
}

#form-login-cadastro input[type="button"]{
    background-color: #385FD6;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

#form-login-cadastro input[type="button"]:hover{
    background-color: #456ee7;
}

#form-login-cadastro label {
    align-self: flex-start;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.btn-cadastro {
    margin-top: 15px;
    margin-bottom: -35px;
}

#form-login-cadastro.cadastro {
    padding-top: 0;
}

#container-login h1, #container-login a {
    color: #1f42a8;
}

#container-login a.voltar {
    font-weight: bold;
}

/* painel */
.painel-container {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    /* height? */
}


/* painel
        header */
aside.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
}

.sidebar-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;
    padding: 0 30px;
    border-bottom: 1px solid #e6e6e6;
}

.sidebar-header i {
    background-color: #609DF9;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 8px;
    cursor: pointer;
}

/* painel
        Projetos */
.painel-container .projetos{
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: auto;
}

.painel-container .projetos ul {
    padding: 0;
    margin: 0;
}

.painel-container .projetos ul li {
    cursor: pointer;
    transition: .3s;
    padding: 2px 10px 2px 30px;
    margin: 0;
}

.painel-container .projetos ul li:hover {
    background-color: #F3F1F1;
}

.painel-container .projetos ul li h3{
    font-size: 16px;
}

.painel-container .projetos ul li p{
    font-size: 12px;
    margin-top: -13px;
    color: #BABABA;
}

/* painel 
        logout*/
.logout-container {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-container p, .logout-container i {
    color: #AC1F1F;
    margin: 0 2px;
    font-weight: bold;
    cursor: pointer;
}